<div class="mainCont">
    <%=image_tag("crossing.png", :class=> "welcomeIm") %>
    
    <h1>Welcome to SongBird Instruments</h1>
    
    <p>Here at SongBird we pride ourselves on providing the leading guitars at the very best prices. Whether you're looking to purchase a new Fender 
    or Gibson, you'll find it here</p>
    
<hr>

<%= render 'layouts/popularproducts' %> 

    
    <p>Looking for <%= link_to "Gibson, Fender, or Rickenbacker?", "/items" %></p>
    
<hr>
    <%= render 'layouts/categories' %> 

</div>


<div class="mainCont">
    <%= render 'layouts/search' %> 
</div>
