<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Songbird Instruments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="headSec"> 
      
      <h1 style="font-family:rustico;">SongBird</h1>
      
      <td> <center>
        <tr><%= link_to "Home", "/" %></li>
        <tr><%= link_to "Guitars", "/items" %></tr>
        <tr><%= link_to "Contact", help_path %></tr>
        
      
  
       
        
        
        <% if user_signed_in? %>
        <tr><%= link_to 'Profile', edit_user_registration_path %></tr>
        <tr><%= link_to "Your Account", "/profiles" %></a></tr>
        <tr><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></tr>
        <% else %>
        
        <tr><%= link_to 'Sign Up', new_user_registration_path %></tr>
        <tr><%= link_to 'Sign In', new_user_session_path %></tr>
        <% end %>
        
        
        
      
        
        </center></td>
        
      </ul>
      
    </header>
    
    <div class="container">
    
    <%= yield %>
    </div>
    
    <footer class="foot">
      
      <h1>Copyright Michael O'Hara | 2019 | Server Side Technologies</h1>
      <%= link_to 'New Guitarcat', new_guitarcat_path, :class=>"button" %>
      </footer>
    
  </body>
  
  </html>
